.container-card-analysis-users {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.card-analysis-users {
    padding: 0px !important;
    width: 15rem;
    height: 6rem;
    .counter {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.card-header {
    background-color: #f4f7fb;
}